<li class="list-group-item {{if @task.isPinned "pinned"}} {{if @task.isComplete "is-complete"}}">
  <div class="d-flex">
    <label>
      <input {{on "click" this.toggleBody}} type="checkbox" autocomplete="off"
        checked={{if @task.isComplete "true" ""}}>
    </label>
    <h5 class="card-title flex-fill task-title">
      {{@task.name}}
    </h5>
    <div class="toggle-done ml-auto">
      <div class="btn-group btn-group-sm" role="group">

        <img {{on "click" this.pinMe}} class="pin {{if @task.isPinned "pinned"}}"
          src={{ if @task.isPinned "assets/pin-selected.png" "assets/pin.png" }} />

        <BsButton class="task-button" @type="primary" {{on "click" this.toggleBody}}>
          {{if @task.isComplete "Undo" "Done"}}</BsButton>

      </div>
    </div>
  </div>
  <div class="task-description">
    {{@task.description}}
  </div>
</li>